@import '../../assets/css/settings.scss';

.p-session__header {
  background: white;
  border-radius: 10px;
  color: $color-dark;
  display: block;
  opacity: .8;
  padding: 10px;
}

  .p-session__header.active {
    border-radius: 10px 10px 0 0;
    opacity: 1;
  }

.p-session__meta {
  color: $color-neutral;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.p-session__title {
  font-size: 24px;
  margin: 0;
}

.p-session__body {
  background: white;
  border-radius: 0 0 10px 10px;
  padding: 0 10px 10px 10px;
}