@import '../../assets/css/settings.scss';

.p-speakers {
  list-style: none;
  margin: 0;
  padding: 0;
}

.p-speaker {
  background: $color-green;
  border-radius: 10px;
  color: white;
  margin-bottom: 10px; 
  padding: 10px;
}

  .p-speaker__header a {
    display: flex;
    align-items: center;
  }

  .p-speaker__photo {
    align-self: start;
    border-radius: 100%;
    display: inline-block;
    flex-basis: 75px;
    flex-grow: 0;
    flex-shrink:0;
    height: 75px;
    margin-right: 10px;
    vertical-align: middle;
    width: 75px;
  }

  .p-speaker__name {
    color: #FAE800;
    font-size: 16px;
    margin: 0 0 5px 0;
  }

  .p-speaker__talk-title {
    font-size: 14px;
  }

  .p-speaker__body {
    margin-top: 20px;
  }

  .p-speaker__twitter-btn {
    background: white;
    color: $color-green;
    display: block;
    font-weight: $font-weight-bold;
    text-align: center;

    svg {
      height: 16px;
      margin-right: 5px;
      vertical-align: -2px;
    }
  }