//	Forms
//  =====

//  For:
//  Form Elements





select, textarea, input {
	border: 0;
	border-radius: 0;
	
	font-family: $font-family;
	@include font-size($font-size);
	font-weight: 300;
}

input[type="text"],
input[type="email"],
textarea {
	-webkit-appearance: none;
	appearance: none;
}

