.p-form {

}

.p-form__field:not(:last-child) {
  margin-bottom: 20px;
}

.p-form__label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.p-form__label-helper {
  font-size: 12px;
}

.p-form__input {
  background: white;
  border: solid 1px $color-neutral;
  height: 40px;
  padding: 0 5px;
  width: 100%;
}

  .p-form__input--textarea {
    height: 150px;
    padding: 5px;
  }

  .p-form__input--select {
    
  }

.p-form__btn {
  background: $color-green;
  border: solid 1px $color-green;
  color: white;

  transition: all 0.1s ease-in-out;

  &:hover {
    background: white;
    color: $color-green;
  }
}

.p-form__error {
  color: red;
  font-size: 14px;
}

.p-form__label--radio {
  border: solid 1px $color-neutral;
  cursor: pointer;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.p-form__input--radio {
  @include visually-hidden();
}

.p-form__input--radio:checked + .p-form__label--radio {
  background: $color-green;
  color: white;
}