.p-questions__header {
  margin-bottom: 20px;
  padding: 15px; }
  .p-questions__header h1 {
    font-size: 20px;
    margin-bottom: 10px; }
  .p-questions__header p {
    font-size: 14px;
    margin-bottom: 10px; }

.p-questions__body {
  background: white;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px; }
  .p-questions__body p {
    margin-bottom: 10px; }

.p-questions__footer p {
  font-size: 12px;
  margin-bottom: 10px; }
