//------------------------------------//
//  Colours
//------------------------------------//

$color-body 		: #894FFF;
$color-text 		: #21174C;

$color-theme 		: red;

$color-neutral 	: #9B9B9B;

$color-blue 		: 	#3DD9FC;
$color-green 		: 	#0C9D5E;
$color-yellow 	:   #FFED00;
$color-purple 	:   #3C337C;
$color-light 		: 	#cce9f4;
$color-dark 		: 	#21174C;