//------------------------------------//
//  Families
//------------------------------------//

$font-family            : "stolzl", sans-serif;
$heading-font-family 		: "stolzl", sans-serif;





//------------------------------------//
//  Sizes
//------------------------------------//

$font-size                 		: 16;
$line-height               		: 1.5;





//------------------------------------//
//  Weights
//------------------------------------//
$font-weight 					: 200;
$font-weight-bold 		: 500;







