html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

img {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  vertical-align: middle; }

html {
  font-size: 100%; }

body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 16px;
  font-size: 1rem;
  background: #894FFF;
  color: #21174C;
  padding-top: 60px;
  padding-bottom: 100px;
  font-family: "stolzl", sans-serif;
  font-weight: 200;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "stolzl", sans-serif;
  font-weight: 500;
  font-size: 16; }

a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none; }

p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

i, em {
  font-style: italic; }

strong, b {
  font-weight: 500; }

ul,
ol {
  line-height: 1.5; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

ul ol,
ul ul,
ol ol,
ol ul {
  margin-bottom: 0; }

select, textarea, input {
  border: 0;
  border-radius: 0;
  font-family: "stolzl", sans-serif;
  font-size: 16px;
  font-size: 1rem; }

input[type="text"],
input[type="email"],
textarea {
  -webkit-appearance: none;
  appearance: none; }

.b-container {
  margin: 0 auto;
  max-width: 400px;
  padding: 0 10px;
  position: relative; }

.p-view__header {
  background: #21174C;
  border-radius: 10px;
  color: white;
  margin-bottom: 20px;
  padding: 15px; }
  .p-view__header h1 {
    font-size: 18px;
    margin-bottom: 10px; }
  .p-view__header p {
    font-size: 14px;
    margin-bottom: 10px; }

.p-view__footer {
  background: rgba(33, 23, 76, 0.4);
  border-radius: 10px;
  color: white;
  padding: 10px; }

.p-view-boxes {
  list-style: none;
  margin: 0;
  padding: 0; }

.p-view-box {
  margin-bottom: 20px; }

.b-btn {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  height: 40px;
  letter-spacing: 1px;
  line-height: 40px;
  padding: 0 20px;
  vertical-align: middle;
  white-space: nowrap; }
  .b-btn, .b-btn:hover {
    text-decoration: none; }

.p-form__field:not(:last-child) {
  margin-bottom: 20px; }

.p-form__label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px; }

.p-form__label-helper {
  font-size: 12px; }

.p-form__input {
  background: white;
  border: solid 1px #9B9B9B;
  height: 40px;
  padding: 0 5px;
  width: 100%; }

.p-form__input--textarea {
  height: 150px;
  padding: 5px; }

.p-form__btn {
  background: #0C9D5E;
  border: solid 1px #0C9D5E;
  color: white;
  transition: all 0.1s ease-in-out; }
  .p-form__btn:hover {
    background: white;
    color: #0C9D5E; }

.p-form__error {
  color: red;
  font-size: 14px; }

.p-form__label--radio {
  border: solid 1px #9B9B9B;
  cursor: pointer;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center; }
  .p-form__label--radio:not(:last-child) {
    margin-bottom: 5px; }

.p-form__input--radio {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px; }

.p-form__input--radio:checked + .p-form__label--radio {
  background: #0C9D5E;
  color: white; }
