@import '../../assets/css/settings.scss';

.p-header {
  background: $color-dark;
  left: 0;
  position: fixed;
  height: 40px;
  padding: 10px 0;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;
}

.p-header__inner {
  align-items: center;
  display: flex;
  height: 20px;
  justify-content: space-between;
  padding: 0 10px;
  margin: 0 auto;
  max-width: 400px;
}

.p-header__logo {
  flex-basis: 205px;
  flex-grow: 0;
  height: 20px;
  width: 105px;

  a {
    background-size: 100%;
    background-image: url(/assets/images/logo.svg?v=2);
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    width: 105px;
    text-indent: -999em;
  }
}
.p-header__date {
  color: $color-neutral;
  font-size: 14px;
}