@import '../../assets/css/settings.scss';

.p-feedback__section {
  color: $color-dark;
  display: block;
  margin-bottom: 20px;
  position: relative;
}

.p-feedback__header {
  align-content: center;
  background: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  opacity: 0.8;

  &.active {
    border-radius: 10px 10px 0 0;
    opacity: 1;
  }
}

.p-feedback__section-heading {
  font-size: 18px;
  line-height: 30px;
  text-transform: capitalize;
}

.p-feedback__start {
  background: $color-yellow;
  color: $color-dark;
  height: 30px;
  line-height: 30px;
}

  .p-feedback__header.active .p-feedback__start { display: none;}

.p-feedback__complete {
  background: $color-green;
  border-radius: 100%;
  color: white;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 10px;
  width: 30px;
}