.p-footer {
  background: #21174C;
  bottom: 0;
  left: 0;
  padding: 0;
  position: fixed;
  width: 100%; }

.p-footer__menu {
  display: flex;
  flex-basis: 1;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; }

.p-footer__menu li a {
  color: rgba(255, 255, 255, 0.5);
  display: block;
  font-size: 8px;
  padding: 10px 20px;
  text-decoration: none; }
  .p-footer__menu li a span {
    display: block;
    opacity: 0.5; }
  .p-footer__menu li a.active {
    color: #FFED00; }
    .p-footer__menu li a.active span {
      opacity: 1; }
      .p-footer__menu li a.active span svg path {
        fill: #FFED00; }
