body {
  background: #894FFF;
  font-family: sans-serif;
  padding-bottom: 100px;
}

p {
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

.b-container {
  margin: 0 auto;
  max-width: 400px;
  position: relative;
}

.p-header {
  margin: 20px 0 30px 0;
  text-align: center;
}

.p-header__logo {
  display: block;
  width: 205px;
  height: 40px;
  margin: 0 auto 15px auto;;
  text-indent: -999em;
  background: url(/images/logo.svg?v=2) no-repeat;
  background-size: 100%;
}
.p-header__date {
  color: #FAE800;
  font-size: 14px;
}

.p-footer {
  background: #21174C; 
  bottom: 0;
  left: 0;
  padding: 0 0 30px 0;
  position: fixed;
  width: 100%;
}

.p-footer__menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.p-footer__menu li {}

.p-footer__menu li a {
  color: rgba(255,255,255,0.5);
  display: block;
  font-size: 10px;
  padding: 10px 20px;
  text-decoration: none;
}

  .p-footer__menu li a.active {
    color: #FAE800;
  }

  .p-header__logo {
    display: block;
    text-align: center;
  }

  .p-view__header {
    background: #21174C;
    color: white;
  }
  
  .p-view-boxes {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .p-view-box {
    margin-bottom: 20px;
  }


.p-session__header {
  background: white;
  border-radius: 10px;
  color: #21174C;
  display: block;
  opacity: .8;
  padding: 10px;
}

  .p-session__header.active {
    border-radius: 10px 10px 0 0;
    opacity: 1;
  }

.p-session__meta {
  color: #9B9B9B;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.p-session__title {
  font-size: 30px;
  margin: 0;
}

.p-session__body {
  background: white;
  border-radius: 0 0 10px 10px;
  padding: 10px;
}

.p-speakers {
  list-style: none;
  margin: 0;
  padding: 0;
}

.p-speaker {
  background: #0C9D5E;
  border-radius: 10px;
  color: white;
  margin-bottom: 10px; 
  padding: 10px;
}

  .p-speaker__header a {
    display: flex;
    align-items: center;
  }

  .p-speaker__photo {
    border-radius: 100%;
    display: inline-block;
    flex-basis: 75px;
    flex-grow: 0;
    flex-shrink:0;
    height: 75px;
    margin-right: 10px;
    vertical-align: middle;
    width: 75px;
  }

  .p-speaker__name {
    color: #FAE800;
    font-size: 16px;
    margin: 0 0 5px 0;
  }

  .p-speaker__talk-title {
    font-size: 14px;
  }

  .p-speaker__body {
    margin-top: 20px;
  }